.container
  - provide(:title, "Edit profile")
  .row
    .col-md-12
      - if @user.is_active
        %dt
          %p.text-success Active
      -else
        %dt
          %p.text-danger Disabled

  .row
    .col-md-12
      .well.bs-component
        - if current_user == @user
          %h1 Your profile
        - else
          %h1 Profile
        = simple_form_for(@user, url: profile_path, html: { method: :patch, multipart: true })  do |f|
          %p
            %label Avatar:
            %br/
            = image_tag(@user.avatar_url.to_s) if @user.avatar?
          .form-group
            = f.label "Name:"
            = f.input_field :name, disabled: true
            %br
            %br
            = f.label "E-mail:"
            = f.input_field :email, disabled: true
        %br
        .bs-componen
          - if can? :update, @user
            = link_to "Edit", edit_profile_path(@user), class: "btn btn-primary"