.container.col-xs-12
  %br
    .row
      %h2
        .col-sm-10
          New assignment for
          = @assignment.project.title
    %br
    .form-group.well.well-lg
      = form_for @assignment, {class: "save_form"} do |f|
        = f.label :user_id
        = f.select :user_id, @assignment.project.unassigned_users.map {|user| [user.name, user.id] },{}, { :class => "form-control" }
        %br
        = f.label "Status"
        = f.select :acl_level, project_acl_levels_for_select(@assignment.project_id),{}, { :class => "form-control" }
        = f.hidden_field :project_id
        %br
        = f.submit "Save", {class: "btn btn-success savebutton"}
        = link_to 'Cancel', assignment_path(@assignment.project), class: "btn btn-default frame-link"


