.container.col-xs-12
  %br
  .row
    %h2
      .col-xs-8
        Assignments for
        = @project.title
      .col-xs-offset-8.col-sm-4
        - if can? :create, Assignment.new(:project_id => @project.id)
          = link_to 'New Assignment', new_assignment_path(:assignment => {:project_id => @project.id}), class: "btn btn-success frame-link"
          = link_to 'To project', project_path(@project), class: "btn btn-info frame-link"

  %br
  %table.table.table-stripped
    %thead
      %tr
        %th User
        %th Status
        %th Actions
    - @assignments.map do |assignment|
      - if assignment.user.is_active
        %tbody
          %tr
            %td
              = link_to_user_for(assignment)
            %td
              = status_of_user_for(assignment)
            %td
              - if can? :update, assignment
                = edit_link("Edit", edit_assignment_path( :assignment => assignment.id))
              - if can? :destroy, assignment
                = delete_link("Destroy", assignment)
