.container.col-xs-12
  %br
    .row
      %h2
        .col-sm-10
          Update for requirement
    %br
    = simple_form_for(@requirement, html: {multipart: true}) do |f|
      %fieldset
        .row
          = f.label "Title", class: 'col-lg-2 control-label'
          .col-lg-10
            = f.text_field :title, required: false, autofocus: true, class: 'form-control', placeholder: "Title"
        %br
        .row
          = f.label "Description", class: 'col-lg-2 control-label'
          .col-lg-10
            = f.text_area :description, required: false, autofocus: true, class: 'form-control', placeholder: "Description"
        %br
        .row
          = f.label "Priority", class: 'col-lg-2 control-label'
          .col-lg-10
            = f.select :priority, (1..10), class: "form-control"
        %br
        .row
          = f.label "Worth", class: 'col-lg-2 control-label'
          .col-lg-10
            = f.select :worth, (1..10), class: "form-control"
        %br
        - if !@requirement.attachments.empty?
          = f.label "Files:"
        - @attachments.each do |attachment|
          .col-lg-offset-2.col-condensed
            .col-lg-6
              = link_to File.basename(attachment.file.to_s) , attachment.file_url, :target => "_blank"
            .col-lg-offset-8
              = delete_link("Delete Attachment", attachment)
            %hr
      .row
        .col-xs-12
          %button.btn.btn-warning{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
            New Attachment
      .row
        .col-xs-12
          %br
          = f.submit :class => 'btn btn-success'
          = link_to 'Cancel', requirement_path(@requirement.id), class: "btn btn-default frame-link"
      %br





#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title New Attachment
      .modal-body
        = simple_form_for(@requirement_attachment, html: {multipart: true}) do |f|
          = f.label "File:"
          = f.file_field :file, multiple: true, class: "btn btn-warning"
          = f.hidden_field :requirement_id, value: @requirement.id
          %br
          .modal-footer
            = f.submit :class => 'btn btn-success'
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      