!!!
%html
  %head
    %title RequirementTools | Your online requirement editor	
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
    = csrf_meta_tags
%body
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        - if user_signed_in?
          = link_to 'Dashboard', dashboards_path, class: 'navbar-brand'
        - else
          = link_to 'Requirement Tools', root_path, class: 'navbar-brand'
      .navbar-collapse.collapse#navbar-main
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to profile_path(current_user.id) do
                %i.glyphicon.glyphicon-user
                = current_user.name

            -if current_user.is_super_admin
              %li
                =link_to "Projects", admin_projects_path
              %li
                =link_to "Users", admin_people_path
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.glyphicon.glyphicon-log-out

          -else
            %li
              = link_to new_user_session_path do
                %i.glyphicon.glyphicon-log-in
                Log in

  = render 'layouts/messages'
  = yield

:javascript
  $( document ).ready(function() {
    if ( !($.isNumeric($('#project_select_id option:selected').val())))
    {
        $('#project_assign').hide();
    }else
    {
        $('#project_assign').show();
    }
  });